@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  box-sizing: border-box;
}

html, body{
  background-color: rgb(255, 255, 255);
  width: 100%;
}

body::-webkit-scrollbar{
  display: none;
  overflow: scroll;
}
header{
  width: 100%;
  z-index: 999999;
}
main{
  position: relative;
  width: 100%;
  height: fit-content;
  overflow: scroll;
}
main::-webkit-scrollbar{
  display: none;
}
footer{
  position: relative;
  width: 100%;
  bottom: 0;
  z-index: 99999999;
}

@media  screen and(min-width:500px){
  main{
    position: static;
  }
}
